*{
    text-align: center;
    position: relative;
    top: 50px;
}
body{
    /*background-color:rgb(61,61,61);*/  /* 원하는 배경색 */
    background-image: url('img/win_shwastudio_cat_1.png');
    background-size: cover;
    transition: background-image 1s ease-in-out;
}
.new-background {
    background-image: url('img/win_shwastudio_cat_3.png'); 
    background-size: cover;
}
.date{
    font-size:45px;  /* 원하는 폰트 사이즈 */
    color:darkslategray; /* 날짜가 표기되는 텍스트 색상 */
}
.time{
    font-size:100px;  /* 원하는 폰트 사이즈 */
    font-weight: bold;
    color: black  /* 시간이 표기되는 텍스트 색상 */
}

button {
    border: 1px solid skyblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: skyblue;
    padding: 5px;
}

button:hover {
    border: 1px solid blue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: gray;
    padding: 5px;
}

#weather{   
    padding-top: 0px;
    font-size: 20px;
    color:white;
}
#weather1{  
    border-radius: 30%;
    background-color: gray;
}

.black-han-sans-regular {
    font-family: "Black Han Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  

