/*이미지가 상위요소 밖으로 나가는 걸 방지*/
img{
  max-width: 100%;
}
.cropper-view-box,
.cropper-face {
    border-radius: 50%; 
}

/* 자르기 영역의 경계선 스타일 변경 */
.cropper-view-box {
  outline: 5px solid #7e8ef1; /* 경계선 색상 및 투명도 */
  border-radius: 50%; /* 둥근 모서리 */
}


#Cropper{
  width: 600px;
  display: none ;
}


#profileImage {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    
    object-fit: cover; 
}

.container {
  max-width: 300px;
  max-height: 300px;
}

