/* Container 스타일 */
.main-wrap{
  display: flex;
  justify-content: center;
}

.main{
  width: 600px;
  background-color: white;
  border-radius: 15px;
}

.main-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}


/* 전체 모달창 */
.modalCropper{
  border: solid 3px #ccc;
  border-radius: 28px;
}

/* 자르기 영역의 경계선 스타일 변경 */
.cropper-view-box {
  outline: 6px solid #7e8ef1; /* 경계선 색상 및 투명도 */   
  border-radius: 50%; /* 둥근 모서리 */
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%; 
}

.cropper-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#crop-button{
  border:none;
  outline: none;
  
  width: 200px;
  height: 30px;

  border-radius: 7px;
  color: white;
  background-color: #7e8ef1;  
}



/* 크로퍼 이미지 크기 */
.img-container {
  display: flex;
  justify-content: center;

  max-width: 580px;
  min-width: 580px;

  max-height: 600px;
  min-height: 300px;
  
  margin: 10px;
  
}

/* 자르기 영역 및 이미지 스타일 */
#image {
  display: none; /* 초기에는 이미지가 보이지 않도록 설정 */
  max-width: 100%;
  height: auto;
  cursor: move;
}



/* 프로필 이미지 스타일 */
#profile-image {
  width: 150px;
  height: 150px;

  border: 2px solid #ccc;
  border-radius: 50%;

  object-fit: cover;
  background-color: #f0f0f0; /* 투명 배경일 경우를 대비한 기본 배경색 설정 */
}

.profile-wrap{
  display: flex;
  align-items: center;

  margin-left: 10px;
  margin-right: 10px;
}

.profile-wrap > h2{
  margin-left:10px;
  color: #000000;
  font-size: xx-large;
}


/* 버튼 */
.btn{
  outline: none;
  border: none;
  border-radius: 5px;
  
  width: 290px;
  font-size: 36px;
  background-color: #f0f0f0;
}

.btn-wrap{
  display: flex;
  justify-content: space-evenly;
}

/* 확인 */
#confirm{
  color: #7e8ef1;
}

/* 취소 */
#cancel{
  color:#ec7070;
}



